<header>
  <div class="navbar navbar-dark bg-dark box-shadow">
    <div class="container" style="display: block">
      <a href="/" class="navbar-brand">
        <strong>DiscountMe</strong>
      </a>
      <button type="button" class="btn btn-dark float-right" onclick="location.href='{{url_for('explore')}}'">
          Explore
      </button>
      <button type="button" class="btn btn-dark float-right" onclick="location.href='{{url_for('profile', id=1)}}'">
          Profile
      </button>
      <button type="button" class="btn btn-dark float-right" onclick="location.href='{{url_for('dashboard')}}'">
          Dashboard
      </button>
    </div>
  </div>
</header>

<!-- <button class="navbar&#45;toggler" type="button" data&#45;toggle="collapse" data&#45;target="#navbarHeader" aria&#45;controls="navbarHeader" aria&#45;expanded="false" aria&#45;label="Toggle navigation"> -->
<!-- <span class="navbar&#45;toggler&#45;icon"></span> -->
<!-- </button> -->
